# This is a basic workflow to help you get started with Actions

name: Build

# Controls when the workflow will run
on: [push, pull_request, workflow_dispatch]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  buildWindows:
    runs-on: windows-latest
    
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2.3.0

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup C:/haxelib
          haxelib install hxcpp > nul
          haxelib install lime 8.0.2
          haxelib install openfl 9.2.2
          haxelib set lime 8.0.2
          haxelib set openfl 9.2.2
          haxelib --never install flixel 5.3.1
          haxelib set flixel 5.3.1
          haxelib install flixel-addons 3.2.2
          haxelib install flixel-ui 2.6.1
          haxelib install flixel-tools 1.5.1
          haxelib install actuate
          haxelib install hscript
          haxelib install hxcpp-debug-server
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib run lime setup windows
          haxelib run lime setup flixel
          haxelib list
        shell: cmd
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build windows --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: windowsBuild
          path: export/release/windows/bin
  buildMac:
    runs-on: macos-latest

    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - uses: krdlab/setup-haxe@master
        with:
          haxe-version: 4.2.5
      # Runs a set of commands using the runners shell
      - name: Install Haxelib
        run: |
          haxelib setup ~/haxelib
          haxelib install hxcpp > /dev/null
          haxelib install lime 8.0.2
          haxelib install openfl 9.2.2
          haxelib set lime 8.0.2
          haxelib set openfl 9.2.2
          haxelib --never install flixel 5.3.1
          haxelib set flixel 5.3.1
          haxelib install flixel-addons 3.2.2
          haxelib install flixel-ui 2.6.1
          haxelib install flixel-tools 1.5.1
          haxelib install actuate
          haxelib install hscript
          haxelib install hxcpp-debug-server
          haxelib git discord_rpc https://github.com/Aidan63/linc_discord-rpc
          haxelib run lime setup
          haxelib run lime setup flixel
          haxelib list
      - name: Create Version Tag
        run: echo "${{github.run_id}}" > VERSION
      - name: Compile
        run: haxelib run lime build mac --app-version="4.0.0-${{ github.run_id}}"
      - name: Publish Artifact
        uses: actions/upload-artifact@v4.6.2
        with:
          name: macBuild
          path: export/release/macos/bin
